<div class="form-container">
  <input
    #nameField
    type="text"
    placeholder="Name"
    [value]="name()"
    (input)="name.set(nameField.value)"
  />
  <select>
    @for (user of users;track user){
    <option (click)="setName(user)">{{ user }}</option>
    }
  </select>

  <textarea
    #messageField
    type="text"
    placeholder="Message"
    [value]="message()"
    (input)="message.set(messageField.value)"
  ></textarea>

  <button (click)="addNote()">Add Note</button>
</div>

<div>
  <div class="dates-button-container">
    <button (click)="changeWeek('prev')">Previous Week</button>
    <span>{{ startWeekFromattedText }} - {{ endWeekFromattedText }}</span>
    <button (click)="changeWeek('next')">Next Week</button>
    <button (click)="changeWeek('current')">Current Week</button>
  </div>

  <div class="notes-container">
    @for (note of filteredNotes(); track note.timestamp) {
    <app-note [note]="note" />
    } @empty {
    <span>Empty list of notes</span>
    }
  </div>
</div>
